---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import FAQ from '../components/FAQ.astro';
import Hero from '../components/Hero.astro';
import Location from '../components/Location.astro';
import Panel from '../components/Panel.astro';
import Services from '../components/Services.astro';
import TrustBar from '../components/TrustBar.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<TrustBar />
		<Services />
		<Panel />
		<About />
		<FAQ />
		<Location />
	</main>
</Layout>
